* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#head-section {
  background-color: blue;
  padding: 1.5rem;
}

article {
  padding: 1.5rem;
  maring: 0.5rem 0;


  div {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
  }
}